<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Principal</title>
</head>

<body>
    <h1>Principal</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia error nobis iste. Hic laboriosam magnam
        sapiente numquam et tenetur modi cum commodi. Quidem id animi nulla distinctio reiciendis, exercitationem
        dolorem sed voluptatibus odio mollitia. Dolorem quisquam exercitationem nam magnam odio dicta nesciunt
        voluptate, tempora ab doloremque ad obcaecati cupiditate accusantium.</p>
</body>

</html>