{% extends "global/base.html" %}

{% block formulario %}
  <div class="container">
    <h1>Cadastrar Contato</h1>
    <form action="{% url 'gravar' %}" method="post">
      {% csrf_token %}
      <label for="nome" class="form-label">Nome</label>
      <input type="text" name="nome" class="form-control mb-2">
      <label for="idade" class="form-label">Idade</label>
      <input type="number" name="idade" class="form-control mb-2">
      <label for="email" class="form-label">Email</label>
      <input type="email" name="email" class="form-control mb-2">
      <hr>
      <button class="btn btn-primary mb-2">Enviar</button>

    </form>

  </div>
{% endblock formulario %}