<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Onde Estamos</title>
</head>
<body>
    <table>
        <thead>
            Endereços Fictícios
        </thead>
        <tr>
            <th>Logradouro</th>
            <th>Número</th>
            <th>Bairro</th>
            <th>Cidade</th>
            <th>UF</th>

        </tr>
        <tr>
            <th>Rua Coronel Carlos Matos</th>
            <th>86</th>
            <th>Centro</th>
            <th>Nova Iguaçú</th>
            <th>RJ</th>

        </tr>
        <tr>
            <th>Rua Tupinambás</th>
            <th>86</th>
            <th>Centro</th>
            <th>Belo Horizonte</th>
            <th>MG</th>

        </tr>
        <tr>
            <th>Rua Maria Anunciação Paula Moreira</th>
            <th>SN</th>
            <th>Brasiléia</th>
            <th>Acre</th>
            <th>AC</th>
            
        </tr>
    </table>
</body>
</html>