<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
        }
        th, td {
          padding-top: 10px;
          padding-bottom: 10px;
          padding-left: 10px;
          padding-right: 10px;
        }
        </style>
    <title>Onde Estamos</title>
</head>
<body>
    <table>
        <thead>
            <th colspan="5">Endereços Fictícios</th>
        </thead>
        <tr>
            <th>Logradouro</th>
            <th>Número</th>
            <th>Bairro</th>
            <th>Cidade</th>
            <th>UF</th>

        </tr>
        <tr>
            <td>Rua Coronel Carlos Matos</td>
            <td>86</td>
            <td>Centro</td>
            <td>Nova Iguaçú</td>
            <td>RJ</td>

        </tr>
        <tr>
            <td>Rua Tupinambás</td>
            <td>86</td>
            <td>Centro</td>
            <td>Belo Horizonte</td>
            <td>MG</td>

        </tr>
        <tr>
            <td>Rua Maria Anunciação Paula Moreira</td>
            <td>SN</td>
            <td>Brasiléia</td>
            <td>Acre</td>
            <td>AC</td>
            
        </tr>
    </table>
</body>
</html>