<footer class="container mt-md-5">
    <div class="row">
      <div class="col">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d117572.69351032823!2d-43.44583859925071!3d-22.944824830883096!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9bd83d20218edf%3A0x186956215a4948b4!2sJacarepagu%C3%A1%2C%20Rio%20de%20Janeiro%20-%20RJ!5e0!3m2!1spt-BR!2sbr!4v1674781409835!5m2!1spt-BR!2sbr"
          width="200" height="150" style="border:0; padding:0;" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
      <div class="col">
        <a href="https://www.instragram.com.br"><img src="/static/global/img/instragram.png"></a>
        <p></p>
        <a href="https://www.facebook.com.br"><img src="/static/global/img/facebook.png"></a>
      </div>
      <div class="col">
      </div>
    </div>
    <div class="row" id="copy">
      <h3>COPY RIGHT</h3>
    </div>
  </footer>