<header id="header" class="header d-flex align-items-center fixed-top">
  <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

    <a href="{% url 'homev2' %}" class="logo d-flex align-items-center me-auto me-lg-0">
      <!-- Uncomment the line below if you also wish to use an image logo -->
      <!-- <img src="assets/img/logo.png" alt=""> -->
      <h1 class="sitename">Projeto UC-3</h1>
      <!-- <span>.</span> -->
    </a>

    <nav id="navmenu" class="navmenu">
      <ul>
        <li><a href="{% url 'homev2' %}#home">Home<br></a></li>
        <li><a href="{% url 'homev2' %}#historia">História</a></li>
        <li><a href="{% url 'homev2' %}#evolucao">Evolução</a></li>
        <li><a href="{% url 'homev2' %}#mercado">Mercado Atual</a></li>
        <li><a href="{% url 'homev2' %}#conclusao">Conclusão</a></li>
        <li class="nav-item"><a href="" class="nav-link" data-bs-toggle="modal" data-bs-target="#sobre">Sobre</a></li>
        <li class="dropdown"><a href="#"><span>Mais</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
          <ul>
            <li><a href="{% url 'soquetes' %}">Tabela, Carrossel e Cards</a></li>
            <li><a href="{% url 'newsletterv2' %}">Newsletter</a></li>
            <!-- <li class="dropdown"><a href="#"><span>Deep Dropdown</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                <ul>
                  <li><a href="#">Deep Dropdown 1</a></li>
                  <li><a href="#">Deep Dropdown 2</a></li>
                  <li><a href="#">Deep Dropdown 3</a></li>
                  <li><a href="#">Deep Dropdown 4</a></li>
                  <li><a href="#">Deep Dropdown 5</a></li>
                </ul>
              </li> -->
            <!-- <li><a href="#">Dropdown 2</a></li>
              <li><a href="#">Dropdown 3</a></li>
              <li><a href="#">Dropdown 4</a></li> -->
          </ul>
        </li>
        <!-- <li><a href="#contact">Contact</a></li> -->
        
      </ul>
      <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
    </nav>
    
    {% if user.is_authenticated %}

      <span class="nav-link active text-warning">Usuário: {{ user.get_username }}</span>
      <form method="post" action="{% url 'logout' %}" style="display: inline;">
        {% csrf_token %}
          <button type="submit" class="btn btn-outline-warning" aria-current="page">
            Logout
          </button>
        </form>
    {% else %}
      <a class="btn-getstarted" aria-current="page" href="{% url 'login'%}">Login</a>
    {% endif %}

  </div>
</header>