<!-- Modal sobre-->
<div class="modal fade" id="cadastro" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Projeto UC-2</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h2 class="lead">Avaliação UC-2</h2>
          <h3>Professor: Elias <del>Maluco</del> Santos</h3>
          <figure>
            <blockquote class="blockquote">
              <p>O homem não é nada além daquilo que a educação faz dele.</p>
            </blockquote>
            <figcaption class="blockquote-footer">
              Immanuel Kant em <cite title="Source Title">Sobre a Pedagogia</cite>
            </figcaption>
          </figure>
          <h6 class="lead">Aluno: Adoniran Moraes</h6>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>