<nav class="container mb-2 shadow-lg bg-warning-subtle sticky-top">
    <nav class="navbar navbar-expand-xl">
        <nav class="container-fluid">
            <a href="{% url 'home' %}" class="navbar-brand" style="color:crimson;"><i
                    class="bi bi-pc-display-horizontal fs-3 me-3"></i>Projeto UC-2</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" style="color:crimson;">
                <span class="navbar-toggler-icon"></span>
            </button>
            <nav class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a href="{% url 'home' %}#introducao" class="nav-link">Introdução</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'home' %}#historia" class="nav-link">História</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'home' %}#evolucao" class="nav-link">Evolução</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'home' %}#mercado" class="nav-link">Mercado Atual</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'home' %}#conclusao" class="nav-link">Conclusão</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link" data-bs-toggle="modal" data-bs-target="#sobre">Sobre</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Mais
                        </a>
                        <ul class="dropdown-menu bg-warning-subtle">
                          <li><a class="dropdown-item" href="{% url 'tabela' %}">Tabela</a></li>
                          <li><a class="dropdown-item" href="{% url 'car' %}">Carrossel e Card</a></li>
                          <li><a class="dropdown-item" href="{% url 'newsletter' %}">Newsletter</a></li>
                          <li><a class="dropdown-item" href="{% url 'cadastro' %}">Cadastrar</a></li>
                          <li><a class="dropdown-item" href="{% url 'mostrar' %}">Lista de Usuários</a></li>
                          <li><a class="dropdown-item" href="{% url 'homev2' %}">V2</a></li>
                        </ul>
                    </li>
                    {% if user.is_authenticated %}

                    <li class="nav-item">
                        <span class="nav-link active">Usuário: {{ user.get_username }}</span>
                    </li>
                    <li class="nav-item">
                        <form method="post" action="{% url 'logout' %}" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-link nav-link active" style="text-decoration: underline;">
                            Logout
                        </button>
                        </form>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'login'%}"><img
                            src="/static/global/img/login.jfif" width="30"></a>
                    </li>
                    {% endif %}                 
                </ul>
            </nav>
        </nav>
    </nav>
    <p class="text-end">
        Você visitou esta página {{ num_visitas }}
        {% if num_visitas == 1 %} vez
        {% else %} vezes
        {% endif %}.
    </p>
</nav>