<nav class="container mb-2 shadow-lg bg-warning-subtle sticky-top">
    <nav class="navbar navbar-expand-lg">
        <nav class="container-fluid">
            <a href="{% url 'home' %}" class="navbar-brand" style="color:crimson;"><i
                    class="bi bi-pc-display-horizontal fs-3 me-3"></i>Projeto UC-2</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" style="color:crimson;">
                <span class="navbar-toggler-icon"></span>
            </button>
            <nav class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a href="{% url 'home' %}#introducao" class="nav-link">Introdução</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'home' %}#historia" class="nav-link">História</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'home' %}#evolucao" class="nav-link">Evolução</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'home' %}#mercado" class="nav-link">Mercado Atual</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'home' %}#conclusao" class="nav-link">Conclusão</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'tabela' %}" target="_blank" class="nav-link">Tabela</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'car' %}" target="_blank" class="nav-link">Carrossel e Card</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link" data-bs-toggle="modal" data-bs-target="#cadastro">Cadastrar</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'homev2' %}" target="_blank" class="nav-link">V2</a>
                    </li>
                </ul>
            </nav>
        </nav>
    </nav>
</nav>