{% extends "global/base.html" %}

{% block texto %}
<main class="container p-3 mb-2 bg-secondary-subtle text-secondary-emphasis">
    <section>
        <div class="invisible p-5"></div>
        <div class="col mb-3 text-center">
            <H6 class="display-5">Cadastre-se</H6>
        </div>
        <form action="{% url "salvar" %}" method="post">
            {% csrf_token %}
            <div class="container col-8">
                <div class="row mb-3">
                    <div class="col-xl-6">
                        <div class="mb-3 row">
                            <label for="nome" class="col-sm-3 col-form-label">Nome:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="nome" required value="{{ edit.nome }}">
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="mb-3 row">
                            <label for="sobrenome" class="col-sm-3 col-form-label">Sobrenome:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="sobrenome" required value="{{ edit.sobrenome }}">
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="row mb-3">
                    <div class="col-md-1">
                        <p>Sexo:</p>
                    </div>
                    <div class="col-md-11 text-start">
                            
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="sexo" id="inlineCheckbox1" value="F" checked value="{% if edit.sexo == 'F' %} checked {% endif %}">
                            <label class="form-check-label" for="inlineCheckbox1">Feminino</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="sexo" id="inlineCheckbox2" value="M" checked value="{% if edit.sexo == 'M' %} checked {% endif %}">
                            <label class="form-check-label" for="inlineCheckbox2">Masculino</label>
                          </div>
                    </div>
                </div>
    
                <div class="row mb-3">
                    <div class="col-lg-3">
                        <div class="mb-3 row">
                            <label for="cep" name="cep" class="col-4 col-form-label">CEP:</label>
                            <div class="col-8">
                                <input type="text" class="form-control" name="cep" id="cep" required pattern="\d{5}-\d{3}" value="{{ edit.cep }}" onblur="pesquisacep(this.value);">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="mb-3 row">
                            <label for="rua" name="rua" class="col-1 col-form-label">Rua:</label>
                            <div class="col-11">
                                <input readonly type="text" class="form-control" name="rua" id="rua">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="mb-3 row">
                            <label for="numero" name="numero" class="col-1 col-form-label">N°:</label>
                            <div class="col">
                                <input type="text" class="form-control" name="numero" id="numero" required value="{{ edit.numero }}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-lg-6">
                        <div class="mb-3 row">
                            <label for="complemento" name="complemento" class="col-4 col-form-label">Complemento:</label>
                            <div class="col-8">
                                <input type="text" class="form-control" name="complemento" required value="{{ edit.complemento }}">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="mb-3 row">
                            <label for="bairro" name="bairro" class="col-2 col-form-label">Bairro:</label>
                            <div class="col-10">
                                <input readonly type="text" class="form-control" name="bairro" id="bairro">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-lg-10">
                        <div class="mb-3 row">
                            <label for="cidade" name="cidade" class="col-1 col-form-label">Cidade:</label>
                            <div class="col-11">
                                <input readonly type="text" class="form-control" name="cidade" id="cidade">
                            </div>
                        </div>                    
                    </div>
                    <div class="col-lg-2">
                        <div class="mb-3 row">
                            <label for="uf" name="uf" class="col-3 col-form-label">UF:</label>
                            <div class="col-9">
                                <input readonly type="text" class="form-control" name="uf" id="uf">
                                <input type="hidden" name="ibge" id="ibge">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col mb-3 text-end">
                    <button type="submit" class="btn btn-outline-primary">Enviar</button>
                </div>                
            </div>
        </form>
    </section>

</main>
{% endblock texto %}