<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <style>
        footer, header {
            margin-inline: 292px;
            padding: 20px;
            background-color: midnightblue;
            color: whitesmoke;
        }

        header {
            font-family: 'Times New Roman', Times, serif;
        }

        footer p {
            text-align: right;
        }
    </style>
    <title>A História e Evolução dos Microprocessadores</title>
</head>


<body>
    <header class="container p-3 mb-2 text-center mb-2">
        <h1>A História e Evolução dos Microprocessadores</h1>
        <h2>O coração dos dispositivos eletrônicos modernos.</h2>
    </header>

    
    <nav class="container mb-2 shadow-lg bg-warning-subtle sticky-top">
        <nav class="navbar navbar-expand-lg">
            <nav class="container-fluid">
                <a href="index.html" class="navbar-brand" style="color:crimson;"><i
                        class="bi bi-pc-display-horizontal fs-3 me-3"></i>Projeto UC-2</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" style="color:crimson;">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <nav class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a href="index.html#introducao" class="nav-link">Introdução</a>
                        </li>
                        <li class="nav-item">
                            <a href="index.html#historia" class="nav-link">História</a>
                        </li>
                        <li class="nav-item">
                            <a href="index.html#evolucao" class="nav-link">Evolução</a>
                        </li>
                        <li class="nav-item">
                            <a href="index.html#mercado" class="nav-link">Mercado Atual</a>
                        </li>
                        <li class="nav-item">
                            <a href="index.html#conclusao" class="nav-link">Conclusão</a>
                        </li>
                        <li class="nav-item">
                            <a href="tabela.html" target="_blank" class="nav-link">Tabela</a>
                        </li>
                        <li class="nav-item">
                            <a href="carrossel.html" target="_blank" class="nav-link">Carrossel e Card</a>
                        </li>
                    </ul>
                </nav>
            </nav>
        </nav>
    </nav>

    
    <main class="container p-3 mb-2 bg-secondary-subtle text-secondary-emphasis">
        <section id="introducao" class="row">
            <article>
                <div class="p-5 invisible"></div>
                <h3>Introdução</h3>
                <p><a href="imagens/titulo.jpg" target="_blank"><img src="imagens/titulo.jpg" class="rounded ms-3" alt="Eletrônicos"
                        style="float: right; width: auto; height: 200px;"></a>Os microprocessadores são o coração dos
                    dispositivos eletrônicos modernos, desde computadores e smartphones até eletrodomésticos
                    inteligentes. Vamos explorar a história, evolução, mercado e principais fabricantes desses
                    componentes essenciais.</p>
            </article>
        </section>

        
        <section id="historia" class="row">
            <div class="p-5 invisible"></div>
            <h2>História</h2>
            <article class="col-lg-10">
                <p>A história dos microprocessadores começa na década de 1970. O primeiro microprocessador
                    comercialmente disponível foi o Intel 4004, lançado em 1971. Desenvolvido por Intel, esse chip de 4
                    bits foi originalmente projetado para calculadoras, mas abriu caminho para a revolução dos
                    computadores pessoais.</p>
            </article>
            <figure class="col-lg-2 figure">
                <a href="imagens/intel_4004.jpg" target="_blank"><img src="imagens/intel_4004.jpg" class="figure-img img-fluid rounded" alt="Intel 4004"></a>
                <figcaption class="figure-caption">Intel 4004</figcaption>
            </figure>
        </section>

        
        <section id="evolucao">
            <div class="p-5 invisible"></div>
            <h2>Evolução</h2>
            <article>
                <p>Ao longo das décadas, os microprocessadores evoluíram significativamente:</p>
                <ol>
                    <li>
                        <div class="row">
                            <div class="col-md-6">
                                <strong>Década de 1970:</strong>
                                <ul>
                                    <li>Intel 4004 (1971): Primeiro microprocessador, 4 bits.</li>
                                    <li>Intel 8080 (1974): 8 bits, usado em computadores pessoais como o Altair 8800.
                                    </li>
                                </ul>
                            </div>
                            <figure class="col-md-6 figure">
                                <a href="imagens/cpu_altair_8800.jpg"><img src="imagens/cpu_altair_8800.jpg" class="figure-img img-fluid rounded"
                                    alt="Altair 8800"></a>
                                <figcaption class="figure-caption text-end"><a
                                        href="http://creativecommons.org/licenses/by-sa/3.0/"
                                        title="Creative Commons Attribution-Share Alike 3.0">CC BY-SA 3.0</a>, <a
                                        href="https://commons.wikimedia.org/w/index.php?curid=467126">Altair 8800</a>
                                </figcaption>
                            </figure>
                        </div>
                    </li>

                    <div class="row">

                        <li class="col-md-4">
                            <strong>Década de 1980:</strong>
                            <ul>
                                <li>Intel 8086 (1978): 16 bits, base para a arquitetura x86.</li>
                                <li>Motorola 68000 (1979): 16/32 bits, usado no Apple Macintosh e no Atari ST.</li>
                            </ul>
                            <figure class="figure">
                                <a href="imagens/motorola68000.jpg" target="_blank"><img src="imagens/motorola68000.jpg" class="figure-img img-fluid rounded"
                                    alt="Motorola 68000"></a>
                                <figcaption class="figure-caption">Motorola 68000</figcaption>
                            </figure>
                        </li>


                        <li class="col-md-4">
                            <strong>Década de 1990:</strong>
                            <ul>
                                <li>Intel Pentium (1993): 32 bits, desempenho superior para aplicativos gráficos e
                                    multimídia.</li>
                                <li>AMD K6 (1997): Concorrente do Intel Pentium, excelente custo-benefício.</li>
                            </ul>
                            <figure class="figure">
                                <a href="imagens/amd_K6.jpg" target="_blank"><img src="imagens/amd_K6.jpg" class="figure-img img-fluid rounded" alt="AMD K6"></a>
                                <figcaption class="figure-caption text-center"><a
                                        href="http://creativecommons.org/licenses/by-sa/3.0/"
                                        title="Creative Commons Attribution-Share Alike 3.0">CC BY-SA 3.0</a>, <a
                                        href="https://commons.wikimedia.org/w/index.php?curid=241488">AMD K6</a>
                                </figcaption>
                            </figure>
                        </li>

                        <li class="col-md-4">
                            <strong>Século 21:</strong>
                            <ul>
                                <li>Intel Core (2006): Introdução de microprocessadores multi-core.</li>
                                <li>Apple M1 (2020): Processador ARM desenvolvido pela Apple, otimizado para desempenho
                                    e eficiência energética.</li>
                            </ul>
                            <figure class="figure">
                                <a href="imagens/apple_m1.jpg" target="_blank"><img src="imagens/apple_m1.jpg" class="figure-img img-fluid rounded" alt="Apple M1"></a>
                                <figcaption class="figure-caption text-end">Por <a
                                        href="//commons.wikimedia.org/wiki/User:Henriok"
                                        title="User:Henriok">Henriok</a> - <span class="int-own-work" lang="pt">Obra do
                                        próprio</span>, <a
                                        href="http://creativecommons.org/publicdomain/zero/1.0/deed.en"
                                        title="Creative Commons Zero, Public Domain Dedication">CC0</a>, <a
                                        href="https://commons.wikimedia.org/w/index.php?curid=96026688">Apple M1</a>
                                </figcaption>
                            </figure>
                        </li>
                    </div>
                </ol>
            </article>
        </section>

        
        <section id="mercado">
            <div class="p-5 invisible"></div>
            <h2>Mercado Atual</h2>
            <article>
                <p>O mercado de microprocessadores é dominado por algumas empresas chave:</p>
                <ul>
                    <li>Intel: Fundada em 1968, é a maior fabricante de semicondutores do mundo, conhecida por suas
                        linhas de processadores x86 e Core.</li>
                    <li>AMD (Advanced Micro Devices): Fundada em 1969, compete diretamente com a Intel no mercado de PCs
                        e servidores, conhecida por suas séries Ryzen e EPYC.</li>
                    <li>Apple: Recentemente entrou no mercado de microprocessadores com sua linha de chips Apple
                        Silicon, baseados na arquitetura ARM.</li>
                    <li>Qualcomm: Líder no mercado de processadores para dispositivos móveis, com sua linha Snapdragon.
                    </li>
                    <li>NVIDIA: Conhecida por suas GPUs, também desenvolve microprocessadores para inteligência
                        artificial e datacenters.</li>
                </ul>
            </article>
        </section>

        
        <section id="conclusao">
            <div class="p-5 invisible"></div>
            <h2>Conclusão</h2>
            <article>
                <p>A evolução dos microprocessadores tem sido crucial para o desenvolvimento da tecnologia moderna. De
                    seus primórdios na década de 1970 até os poderosos chips de hoje, eles continuam a impulsionar
                    inovações em diversas áreas. Com um mercado competitivo e em constante mudança, podemos esperar
                    ainda mais avanços emocionantes no futuro.
                </p>
                <figure class="figure">
                    <a href="imagens/circuit-board.jpg" target="_blank"><img src="imagens/circuit-board.jpg" class="figure-img img-fluid" alt="Processador"></a>
                    <figcaption class="figure-caption text-center">Imagem de <a
                            href="https://pixabay.com/pt/users/dannaragrim-5924518/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=5759540">Dann
                            Aragrim</a> por <a
                            href="https://pixabay.com/pt//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=5759540">Pixabay</a>
                    </figcaption>
                </figure>
            </article>
        </section>
    </main>
    
    
    <footer class="container">
        <h6 class="lead">Fontes:</h6>
        <a href="https://www.intel.com">Intel</a>
        <a href="https://www.computerhistory.org">Computer History Museum</a>
        <a href="https://www.amd.com">AMD</a>
        <a href="https://en.wikipedia.org/wiki/Microprocessor">Wikipedia</a>
        <p>&copy; 2024 Projeto UC-2, Todos os direitos reservados.</p>
    </footer>
</body>

</html>