
{% extends "global/base.html" %}
{% block texto %}

<main class="container p-3 mb-2 bg-secondary-subtle text-secondary-emphasis">
    <section id="introducao" class="row">
        <article>
            <div class="p-5 invisible"></div>
            <h3>Introdução</h3>
            <p><a href="{{ imagens.imagem.url }}" target="_blank"><img src="{{ imagens.imagem.url }}" class="rounded ms-3"
                        alt="Eletrônicos" style="float: right; width: auto; height: 200px;"></a>Os microprocessadores
                são o coração dos
                dispositivos eletrônicos modernos, desde computadores e smartphones até eletrodomésticos
                inteligentes. Vamos explorar a história, evolução, mercado e principais fabricantes desses
                componentes essenciais.</p>
        </article>
    </section>


    <section id="historia" class="row">
        <div class="p-5 invisible"></div>
        <h2>História</h2>
        <article class="col-lg-10">
            <p>A história dos microprocessadores começa na década de 1970. O primeiro microprocessador
                comercialmente disponível foi o Intel 4004, lançado em 1971. Desenvolvido por Intel, esse chip de 4
                bits foi originalmente projetado para calculadoras, mas abriu caminho para a revolução dos
                computadores pessoais.</p>
        </article>
        <figure class="col-lg-2 figure">
            <a href="/static/global/img/intel_4004.jpg" target="_blank"><img src="/static/global/img/intel_4004.jpg"
                    class="figure-img img-fluid rounded" alt="Intel 4004"></a>
            <figcaption class="figure-caption">Intel 4004</figcaption>
        </figure>
    </section>


    <section id="evolucao">
        <div class="p-5 invisible"></div>
        <h2>Evolução</h2>
        <article>
            <p>Ao longo das décadas, os microprocessadores evoluíram significativamente:</p>
            <ol>
                <li>
                    <div class="row">
                        <div class="col-md-6">
                            <strong>Década de 1970:</strong>
                            <ul>
                                <li>Intel 4004 (1971): Primeiro microprocessador, 4 bits.</li>
                                <li>Intel 8080 (1974): 8 bits, usado em computadores pessoais como o Altair 8800.
                                </li>
                            </ul>
                        </div>
                        <figure class="col-md-6 figure">
                            <a href="/static/global/img/cpu_altair_8800.jpg"><img src="/static/global/img/cpu_altair_8800.jpg"
                                    class="figure-img img-fluid rounded" alt="Altair 8800"></a>
                            <figcaption class="figure-caption text-end"><a
                                    href="http://creativecommons.org/licenses/by-sa/3.0/"
                                    title="Creative Commons Attribution-Share Alike 3.0">CC BY-SA 3.0</a>, <a
                                    href="https://commons.wikimedia.org/w/index.php?curid=467126">Altair 8800</a>
                            </figcaption>
                        </figure>
                    </div>
                </li>

                <div class="row">

                    <li class="col-md-4">
                        <strong>Década de 1980:</strong>
                        <ul>
                            <li>Intel 8086 (1978): 16 bits, base para a arquitetura x86.</li>
                            <li>Motorola 68000 (1979): 16/32 bits, usado no Apple Macintosh e no Atari ST.</li>
                        </ul>
                        <figure class="figure">
                            <a href="/static/global/img/motorola68000.jpg" target="_blank"><img src="/static/global/img/motorola68000.jpg"
                                    class="figure-img img-fluid rounded" alt="Motorola 68000"></a>
                            <figcaption class="figure-caption">Motorola 68000</figcaption>
                        </figure>
                    </li>


                    <li class="col-md-4">
                        <strong>Década de 1990:</strong>
                        <ul>
                            <li>Intel Pentium (1993): 32 bits, desempenho superior para aplicativos gráficos e
                                multimídia.</li>
                            <li>AMD K6 (1997): Concorrente do Intel Pentium, excelente custo-benefício.</li>
                        </ul>
                        <figure class="figure">
                            <a href="/static/global/img/amd_K6.jpg" target="_blank"><img src="/static/global/img/amd_K6.jpg"
                                    class="figure-img img-fluid rounded" alt="AMD K6"></a>
                            <figcaption class="figure-caption text-center"><a
                                    href="http://creativecommons.org/licenses/by-sa/3.0/"
                                    title="Creative Commons Attribution-Share Alike 3.0">CC BY-SA 3.0</a>, <a
                                    href="https://commons.wikimedia.org/w/index.php?curid=241488">AMD K6</a>
                            </figcaption>
                        </figure>
                    </li>

                    <li class="col-md-4">
                        <strong>Século 21:</strong>
                        <ul>
                            <li>Intel Core (2006): Introdução de microprocessadores multi-core.</li>
                            <li>Apple M1 (2020): Processador ARM desenvolvido pela Apple, otimizado para desempenho
                                e eficiência energética.</li>
                        </ul>
                        <figure class="figure">
                            <a href="/static/global/img/apple_m1.jpg" target="_blank"><img src="/static/global/img/apple_m1.jpg"
                                    class="figure-img img-fluid rounded" alt="Apple M1"></a>
                            <figcaption class="figure-caption text-end">Por <a
                                    href="//commons.wikimedia.org/wiki/User:Henriok" title="User:Henriok">Henriok</a> -
                                <span class="int-own-work" lang="pt">Obra do
                                    próprio</span>, <a href="http://creativecommons.org/publicdomain/zero/1.0/deed.en"
                                    title="Creative Commons Zero, Public Domain Dedication">CC0</a>, <a
                                    href="https://commons.wikimedia.org/w/index.php?curid=96026688">Apple M1</a>
                            </figcaption>
                        </figure>
                    </li>
                </div>
            </ol>
        </article>
    </section>


    <section id="mercado">
        <div class="p-5 invisible"></div>
        <h2>Mercado Atual</h2>
        <article>
            <p>O mercado de microprocessadores é dominado por algumas empresas chave:</p>
            <ul>
                <li>Intel: Fundada em 1968, é a maior fabricante de semicondutores do mundo, conhecida por suas
                    linhas de processadores x86 e Core.</li>
                <li>AMD (Advanced Micro Devices): Fundada em 1969, compete diretamente com a Intel no mercado de PCs
                    e servidores, conhecida por suas séries Ryzen e EPYC.</li>
                <li>Apple: Recentemente entrou no mercado de microprocessadores com sua linha de chips Apple
                    Silicon, baseados na arquitetura ARM.</li>
                <li>Qualcomm: Líder no mercado de processadores para dispositivos móveis, com sua linha Snapdragon.
                </li>
                <li>NVIDIA: Conhecida por suas GPUs, também desenvolve microprocessadores para inteligência
                    artificial e datacenters.</li>
            </ul>
        </article>
    </section>


    <section id="conclusao">
        <div class="p-5 invisible"></div>
        <h2>Conclusão</h2>
        <article>
            <p>A evolução dos microprocessadores tem sido crucial para o desenvolvimento da tecnologia moderna. De
                seus primórdios na década de 1970 até os poderosos chips de hoje, eles continuam a impulsionar
                inovações em diversas áreas. Com um mercado competitivo e em constante mudança, podemos esperar
                ainda mais avanços emocionantes no futuro.
            </p>
            <figure class="figure">
                <a href="/static/global/img/circuit-board.jpg" target="_blank"><img src="/static/global/img/circuit-board.jpg"
                        class="figure-img img-fluid" alt="Processador"></a>
                <figcaption class="figure-caption text-center">Imagem de <a
                        href="https://pixabay.com/pt/users/dannaragrim-5924518/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=5759540">Dann
                        Aragrim</a> por <a
                        href="https://pixabay.com/pt//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=5759540">Pixabay</a>
                </figcaption>
            </figure>
        </article>
    </section>
</main>
{% endblock texto %}