{% extends 'global/base.html' %}


{% block texto %}


<div class="container">
    <h1>Usuário</h1>  
    <form action="#" method="post" class="form-control">
        {% csrf_token %} <!-- para evitar ataques -->
        <label for="usuario" class="form-label">Usuário</label>
        <input type="text" class="form-control" name="usuario">
        <br>
        <button class="btn btn-primary">Enviar</button>
        <a href="{% url 'exibir_valor' %}" class="btn btn-primary">Valor da Sessão</a>
    </form>
</div>


{% endblock texto %}