<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Local</title>
</head>
<body>
    <h1>Local</h1> 
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate, debitis voluptatem earum aspernatur obcaecati, explicabo vitae consequatur sit itaque pariatur reiciendis, assumenda id? Distinctio perferendis recusandae quos corrupti dignissimos eveniet.

    <a href="ondeestamos">Principal</a>
    
</body>
</html>