<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Serviços</title>
</head>
<body>
    <h1>Serviços</h1>
    <table>
        <tr>
            <th>Serviço</th>
            <th>Preço</th>
        </tr>
        <tr>
            <td>Serviço 1</td>
            <td>10,00</td>
        </tr>   
        <tr>
            <td>Serviço 2</td>
            <td>20,00</td>
        </tr>
    </table>
    
</body>
</html>