<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
        }
        th, td {
          padding-top: 10px;
          padding-bottom: 10px;
          padding-left: 10px;
          padding-right: 10px;
        }
        </style>
    <title>Produtos</title>
</head>
<body>
    <table>
        <thead>
            <th>Produtos Fictícios</th>
        </thead>
        <tr>
            <th>Nome</th>
            <th>Preço</th>
        </tr>
        <tr>
            <td>Produto 1</td>
            <td>R$ 10,00</td>
        </tr>
        <tr>
            <td>Produto 2</td>
            <td>R$ 20,00</td>
        </tr>
        <tr>
            <td>Produto 3</td>
            <td>R$ 30,00</td>
        </tr>
    </table>
</body>
</html>