<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos</title>
</head>
<body>
    <table>
        <thead>
            Produtos Fictícios
        </thead>
        <tr>
            <th>Nome</th>
            <th>Preço</th>
        </tr>
        <tr>
            <th>Produto 1</th>
            <th>R$ 10,00</th>
        </tr>
        <tr>
            <th>Produto 2</th>
            <th>R$ 20,00</th>
        </tr>
        <tr>
            <th>Produto 3</th>
            <th>R$ 30,00</th>
        </tr>
    </table>
</body>
</html>