<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Soquetes</title>
</head>

<body>
    <main>
        <table>
            <thead>
                <tr>
                    <th>Soquete</th>
                    <th>Arquitetura</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>LGA-1155</td>
                    <td>Sandy Bridge (2ª geração, 32nm, 2k-series) e Ivy Bridge (3ª geração, 22nm, 3k-series).</td>
                </tr>
                <tr>
                    <td>LGA-1150</td>
                    <td>Haswell (4ª geração, 22nm, 4k-series) e Broadwell (5ª geração, 14nm, 5k-series).</td>
                </tr>
                <tr>
                    <td>LGA-1151</td>
                    <td>Skylake (6ª geração, 14nm, 6k-series), Kabylake (7ª geração, 14nm, 7k-series) e Coffeelake (8ª
                        geração, 14nm, 8k-series e 9ª geração, 14nm, 9k-series)*.</td>
                </tr>
                <tr>
                    <td>LGA-1200</td>
                    <td>Comet Lake (10ª geração, 10nm, 10k-series) e Rocket Lake (11ª geração, 14nm, 11k-series)**.</td>
                </tr>
                <tr>
                    <td>LGA-1700</td>
                    <td>Alder Lake (12ª geração, 10nm, 12k-series) e Raptor Lake (13ª geração, 10nm, 13k-series e 14ºa
                        geração, 10nm, 14k-series)</td>
                </tr>
            </tbody>
        </table>
        <h5>*Embora os processadores de desktop Coffee Lake usem o mesmo soquete físico, LGA 1151, que o Skylake e o Kaby Lake, a pinagem é eletricamente incompatível com esses processadores, pois eles usam placas-mãe com chipset da series 100 e 200.</h5>
        <h5>**O Rocket Lake conta com o mesmo soquete LGA 1200 e compatibilidade com chipset série 400 do Comet Lake, exceto pelos chipsets H410 e B460.</h5>
        
    </main>
</body>

</html>