{% extends "global/basev2.html" %}
{% block texto %}
<main class="main">
    <section class="hero section dark-background">
        <div class="container">
            <h1>Seu Carrinho</h1>
            <table class="align-middle table table-dark text-center ">
                <thead>
                    <tr>
                        <th class="text-warning">Produto</th>
                        <th class="text-warning">Quantidade</th>
                        <th class="text-warning">Preço Unitário</th>
                        <th class="text-warning">Total</th>
                        <th class="text-warning">Ações</th>
                    
                    </tr>
                </thead>
                <tbody>
        
        
                    {% for item in itens %}
                    <tr>
                        <td>{{ item.produto.descricao }}</td>
                        <td>{{ item.quantidade }}</td>
                        <td>R$ {{ item.produto.preco }}</td>
                        <td>R$ {{ item.total_preco }}</td>
                        <td>
                            <a href="{% url 'remover_do_carrinhov2' item.id %}" class="btn btn-outline-danger btn-sm">
                                Remover
                            </a>
                        </td>
                    
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <h3>Total: R$ {{ total }}</h3>
            <a href="{% url 'finalizar_compra' %}" class="btn btn-warning me-3">Finalizar Compra</a>
            <a href="{% url 'soquetes' %}#cartoes" class="btn btn-warning">Adicionar mais itens</a>
        </div>
    </section>
    
    
    {% if messages %}
        <div>
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}
</main>
{% endblock texto %}