{% extends "global/basev2.html" %}

{% block texto %}
<main class="main">

    <!-- Hero Section -->
    <section id="home" class="hero section dark-background">

        <img src="/static/global/img/titulo.jpg" alt="" data-aos="fade-in">

        <div class="container">

            <div class="row justify-content-center text-center" data-aos="fade-up" data-aos-delay="100">
                <div class="col-xl-6 col-lg-8">
                    <h2>A História e Evolução dos Microprocessadores.</h2>
                    <p>O coração dos dispositivos eletrônicos modernos.</p>
                </div>
            </div>
            
        </div>

    </section><!-- /Hero Section -->

    <!-- About Section -->
    <section id="introducao" class="about section">

        <div class="container" data-aos="fade-up" data-aos-delay="100">

            <div class="row gy-4">
                <div class="col-lg-6 order-1 order-lg-2">
                    <img src="/static/global/img/titulo.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 order-2 order-lg-1 content">
                    <h3>Introdução</h3>
                    <p>
                        Os microprocessadores são o coração dos
                        dispositivos eletrônicos modernos, desde computadores e smartphones até eletrodomésticos
                        inteligentes. Vamos explorar a história, evolução, mercado e principais fabricantes desses
                        componentes essenciais.
                    </p>
                </div>
            </div>

        </div>

    </section><!-- /About Section -->

    <section id="historia" class="hero section dark-background">

        <img src="/static/global/img/cpu_altair_8800.jpg" alt="" data-aos="fade-in">

        <div class="container">

            <div class="row justify-content-center text-center" data-aos="fade-up" data-aos-delay="100">
                <div class="col-xl-6 col-lg-8">
                    <h2>História</h2>
                </div>
            </div>

        </div>

    </section>

    <section id="about" class="about section">

        <div class="container" data-aos="fade-up" data-aos-delay="100">

            <div class="row gy-4">
                <div class="col-lg-6 order-1 order-lg-2">
                    <img src="/static/global/img/intel_4004.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 order-2 order-lg-1 content">
                    <p>
                        A história dos microprocessadores começa na década de 1970. O primeiro microprocessador
                        comercialmente disponível foi o Intel 4004, lançado em 1971. Desenvolvido por Intel, esse chip
                        de 4
                        bits foi originalmente projetado para calculadoras, mas abriu caminho para a revolução dos
                        computadores pessoais.
                    </p>
                </div>
            </div>

        </div>

    </section><!-- /About Section -->

    <section id="evolucao" class="hero section dark-background">

        <img src="/static/global/img/intel_c8086.jpg" alt="" data-aos="fade-in">

        <div class="container">

            <div class="row justify-content-center text-center" data-aos="fade-up" data-aos-delay="100">
                <div class="col-xl-6 col-lg-8">
                    <h2>Evolução</h2>
                    <p>Ao longo das décadas, os microprocessadores evoluíram significativamente:</p>
                </div>
            </div>

        </div>

    </section>

    <section id="team" class="team section">

        <!-- Section Title -->

        <div class="container">

            <div class="row gy-4">

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                    <div class="team-member">
                        <div class="member-img">
                            <img src="/static/global/img/intel_4004.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="member-info">
                            <h4>Intel 4004 (1971): Primeiro microprocessador, 4 bits.</h4>
                            <!-- <span>Chief Executive Officer</span> -->
                        </div>
                    </div>
                </div><!-- End Team Member -->

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                    <div class="team-member">
                        <div class="member-img">
                            <img src="/static/global/img/intel_c8080.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="member-info">
                            <h4>Intel 8080 (1974): 8 bits, usado em computadores pessoais como o Altair 8800.</h4>
                        </div>
                    </div>
                </div><!-- End Team Member -->

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                    <div class="team-member">
                        <div class="member-img">
                            <img src="/static/global/img/intel_c8086.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="member-info">
                            <h4>Intel 8086 (1978): 16 bits, base para a arquitetura x86.</h4>

                        </div>
                    </div>
                </div><!-- End Team Member -->

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
                    <div class="team-member">
                        <div class="member-img">
                            <img src="/static/global/img/motorola68000.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="member-info">
                            <h4>Motorola 68000 (1979): 16/32 bits, usado no Apple Macintosh e no Atari ST.</h4>
                        </div>
                    </div>
                </div><!-- End Team Member -->

            </div>

        </div>

    </section><!-- /Team Section -->
    <section id="team" class="team section">

        <!-- Section Title -->

        <div class="container">

            <div class="row gy-4">

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                    <div class="team-member">
                        <div class="member-img">
                            <img src="/static/global/img/pentium-cpu.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="member-info">
                            <h4>Intel Pentium (1993): 32 bits, desempenho superior para aplicativos gráficos e
                                multimídia.</h4>
                        </div>
                    </div>
                </div><!-- End Team Member -->

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                    <div class="team-member">
                        <div class="member-img">
                            <img src="/static/global/img/amd_k6.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="member-info">
                            <h4>AMD K6 (1997): Concorrente do Intel Pentium, excelente custo-benefício.</h4>
                        </div>
                    </div>
                </div><!-- End Team Member -->

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                    <div class="team-member">
                        <div class="member-img">
                            <img src="/static/global/img/intel_i9-14900K.webp" class="img-fluid" alt="">
                        </div>
                        <div class="member-info">
                            <h4>Intel Core (2006): Introdução de microprocessadores multi-core.</h4>
                        </div>
                    </div>
                </div><!-- End Team Member -->

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
                    <div class="team-member">
                        <div class="member-img">
                            <img src="/static/global/img/apple_m1.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="member-info">
                            <h4>Apple M1 (2020): Processador ARM desenvolvido pela Apple, otimizado para desempenho e
                                eficiência energética.</h4>
                        </div>
                    </div>
                </div><!-- End Team Member -->

            </div>

        </div>

    </section><!-- /Team Section -->

    <!-- Hero Section -->
    <section id="mercado" class="hero section dark-background">

        <img src="/static/global/img/protector.jpg" alt="" data-aos="fade-in">

        <div class="container">

            <div class="row justify-content-center text-center" data-aos="fade-up" data-aos-delay="100">
                <div class="col-xl-6 col-lg-8">
                    <h2>O Mercado Atual</h2>
                    <p>O mercado de microprocessadores é dominado por algumas empresas chave:</p>
                </div>
            </div>

        </div>

    </section><!-- /Hero Section -->

    <!-- About Section -->
    <section id="about" class="about section">

        <div class="container" data-aos="fade-up" data-aos-delay="100">

            <div class="row gy-4">
                <div class="col-lg-6 order-1 order-lg-2">
                    <img src="/static/global/img/Qualcomm.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 order-2 order-lg-1 content">
                    <ul>
                        <li><i class="bi bi-check2-all"></i> <span>Intel: Fundada em 1968, é a maior fabricante de semicondutores do mundo, conhecida por suas
                            linhas de processadores x86 e Core.</span></li>
                        <li><i class="bi bi-check2-all"></i> <span>AMD (Advanced Micro Devices): Fundada em 1969, compete diretamente com a Intel no mercado de PCs
                            e servidores, conhecida por suas séries Ryzen e EPYC.</span></li>
                        <li><i class="bi bi-check2-all"></i> <span>Apple: Recentemente entrou no mercado de microprocessadores com sua linha de chips Apple
                            Silicon, baseados na arquitetura ARM.</span></li>
                        <li><i class="bi bi-check2-all"></i> <span>Qualcomm: Líder no mercado de processadores para dispositivos móveis, com sua linha Snapdragon.</span></li>
                        <li><i class="bi bi-check2-all"></i> <span>NVIDIA: Conhecida por suas GPUs, também desenvolve microprocessadores para inteligência
                            artificial e datacenters.</span></li>
                    </ul>
                </div>
            </div>

        </div>

    </section><!-- /About Section -->

    <!-- Hero Section -->
    <section id="conclusao" class="hero section dark-background">

        <img src="/static/global/img/circuit-board.jpg" alt="" data-aos="fade-in">

        <div class="container">

            <div class="row justify-content-center text-center" data-aos="fade-up" data-aos-delay="100">
                <div class="col-xl-6 col-lg-8">
                    <h2>Conclusão</h2>
                    <p>A evolução dos microprocessadores tem sido crucial para o desenvolvimento da tecnologia moderna. De
                        seus primórdios na década de 1970 até os poderosos chips de hoje, eles continuam a impulsionar
                        inovações em diversas áreas. Com um mercado competitivo e em constante mudança, podemos esperar
                        ainda mais avanços emocionantes no futuro.</p>
                </div>
            </div>

        </div>

    </section><!-- /Hero Section -->

</main>
{% endblock texto %}