{% extends "global/basev2.html" %}
{% block texto %}

<main class="main">
    <section id="newsletter" class="hero section dark-background">

        <img src="/static/global/img/amd_K6.jpg" alt="" data-aos="fade-in">

        <div class="container">

            <div class="row justify-content-center text-center" data-aos="fade-up" data-aos-delay="100">
                <div class="overflow-auto">
                    <table class="table table-striped table-boarded table-dark table-bordered border-warning">
                        <thead>
                            <tr>
                                <th scope="col" class="text-warning">ID</th>
                                <th scope="col" class="text-warning">Nome</th>
                                <th scope="col" class="text-warning">Sobrenome</th>
                                <th scope="col" class="text-warning">Sexo</th>
                                <th scope="col" class="text-warning">CEP</th>
                                <th scope="col" class="text-warning">Rua</th>
                                <th scope="col" class="text-warning">N°</th>
                                <th scope="col" class="text-warning">Complemento</th>
                                <th scope="col" class="text-warning">Bairro</th>
                                <th scope="col" class="text-warning">Cidade</th>
                                <th scope="col" class="text-warning">UF</th>
                                <th scope="col" class="text-warning">Opções</th>
                            </tr>
                        </thead>
                        <tbody>
            
                            {% for usuario in usuarios %}
                            <tr>
                                <td>{{ usuario.id }}</td>
                                <td>{{ usuario.nome }}</td>
                                <td>{{ usuario.sobrenome }}</td>
                                <td>{{ usuario.sexo }}</td>
                                <td>{{ usuario.cep }}</td>
                                <td>{{ usuario.rua }}</td>
                                <td>{{ usuario.numero }}</td>
                                <td>{{ usuario.complemento }}</td>
                                <td>{{ usuario.bairro }}</td>
                                <td>{{ usuario.cidade }}</td>
                                <td>{{ usuario.uf }}</td>
                                <td class="text-end">
                                    <a href="{% url 'editarv2' usuario.id %}" class="container col-xxl-5 btn btn-primary btn-sm mb-1">Editar</a>
                                    <a href="{% url 'apagarv2' usuario.id %}" class="container col-xxl-5 btn btn-danger btn-sm mb-1">Deletar</a>
                                </td>
                            </tr>
                                
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

    </section><!-- /Hero Section -->
</main>

{% endblock %}