{% extends "global/basev2.html" %}
{% block texto %}

<main class="main">
    <section id="newsletter" class="hero section dark-background">

        <img src="/static/global/img/protector.jpg" alt="" data-aos="fade-in">

        <div class="container">

            <div class="row justify-content-center text-center" data-aos="fade-up" data-aos-delay="100">
                <div class="col-xl-6 col-lg-8">
                    <h2>Assine nossa Newsletter</h2>
                    <form action="{% url 'novo_registro' %}" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md mb-3">
                                <input type="text" name="nome" class="form-control form-control-lg" placeholder="Nome"
                                    required>
                            </div>
                            <div class="col-md mb-3">
                                <input type="email" name="email" class="form-control form-control-lg"
                                    placeholder="E-mail" required>
                            </div>

                            <div class="col-md-1 mb-3">
                                <button type="submit" class="btn btn-warning btn-lg">Assinar</button>
                            </div>

                        </div>

                    </form>
                </div>
            </div>

        </div>

    </section><!-- /Hero Section -->
</main>

{% endblock %}