{% extends "global/base.html" %}



{% block formulario %}
<div class="container">
    <div class="row">
        {% for produto in produtos %}
        <div class="col-2 col-md-3">
            <div class="card" style="width: 18rem;">
                <div class="card-header">
                    {{ produto.tema }}
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <img src="{{ produto.foto.url }}" class="img-fluid">
                    </li>
                    <li class="list-group-item">
                        <!-- Botão para abrir o modal -->
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#descricaoModal{{ produto.id }}">
                            Ver Descrição
                        </button>
                    </li>                    
                    <li class="list-group-item">
                        <button type="button" class="btn btn-success" onclick="window.location.href='{% url 'adicionar_ao_carrinho' produto.id %}'">
                          Adicionar ao Carrinho
                        </button>
                    </li>
                </ul>
            </div>
        </div>


        {% endfor %}
    </div>
</div>


<!-- Modal para exibir a descrição -->
{% for produto in produtos %}
<!-- Modal -->
<div class="modal fade" id="descricaoModal{{ produto.id }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">{{ produto.tema }}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            {{ produto.conteudo }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
         
        </div>
      </div>
    </div>
  </div>
{% endfor %}
{% endblock formulario %}